@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: oklch(12.9% 0.042 264.695);
}

@theme {
  --background-image-gradient-primary: linear-gradient(
    to bottom right,
    var(--color-cyan-700),
    var(--color-teal-500)
  );
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-inter);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  font-family: "Inter", Arial, Helvetica, sans-serif;
}
